.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
models/db.js
server/config/local.config.js
.idea/
.vscode
.gitconfig

config/index.js
server/config/index.js

config/local.config.js

server/controllers/user.js

src/components/project/projectList.vue

src/main.js
